{% load grandma_tags %}{% raw %}{% extends "easy_news/base.html" %}
{% load i18n %}

{% block content_title %}{{ news.title }}{% endblock %}

{% block content %}
    <div class="news-date">{{ news.date|date:"d" }} {{ news.month }} {{ news.date|date:"Y" }}</div>
    <div class="news-text">{{ news.text|safe }}</div>
    <div class="news-list"><a href="{% url news_list %}">{% trans 'All news' %}</a></div>
{% endblock %}
{% endraw %}{% if easy_news_settings.seo_was_installed %}{% raw %}
{% load seo_tags %}
{% block seo_keywords %}{% show_seo keywords for news %}{% endblock %}
{% block seo_description %}{% show_seo description for news %}{% endblock %}" 
{% block seo_title %}{% get_seo title for news as seo_title %}{% if seo_title %}{{ seo_title }}{% else %}{{ news.title }}{% endif %}{% endblock %}
{% endraw %}{% endif %}{% if easy_news_settings.menu_proxy_was_installed %}{% raw %}
{% load menuproxy_tags %}
{% block main_menu %}{% show_main_menu 'news_detail' news %}{% endblock %}
{% block auto_menu %}{% show_auto_menu 'news_detail' news %}{% endblock %}
{% block full_menu %}{% show_full_menu 'news_detail' news %}{% endblock %}
{% block breadcrumbs %}{% show_breadcrumbs 'news_detail' news %}{% endblock %}
{% endraw %}{% endif %}