{% extends "easy_news/base.html" %}

{% block title %}Последние новости{% endblock %}
{% block content_title %}Последние новости{% endblock %}

{% block content %}
    {% include "easy_news/news_include.html" %}
    <div class="news-years">
        {% for date in date_list %}
            <div><a href="{% url news_archive_year date|date:"Y" %}">{{ date|date:"Y" }}</a></div>
        {% endfor %}
    </div>
    <div class="news-list"><a href="{% url news_list %}">Все новости</a></div>
{% endblock %}
